{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Profile | Facebook Clone</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'facebook/images/favicon.png' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<style>
.contact-holder-unread{
	background-color: rgba(145, 3, 3, 0.2); margin-top: 20px; margin-bottom: 2px; padding: 30px; width: 100%; border-radius:7px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-holder{
	margin-top: 20px; margin-bottom: 2px; padding: 30px; width: 100%; border-radius:7px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bold-contact{
	font-weight: bold;
}
.chat-thread-holder{
	display: none; padding: 3%; border-radius: 7px 7px 0 0; background-color: rgba(0, 0, 255, .1); margin-bottom: 50px; border: 1px solid #f8f8f8; border-bottom-color: rgba(0, 0, 255, .4); width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-thread-li{
	background-color: white; list-style-type: none; padding: 30px; width: 100%; border-radius:7px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.respond-holder{
	width: 100%; padding: 30px; margin: 10px 0; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.respond-box{
	float: left;
}
.respond-buttons{
	margin: 1%;
}
.no-new-msg{
	margin-bottom: 20px;padding: 30px; width: 100%; border-radius:7px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portable-quick-respond{
	display: block; margin: 2% auto 0 auto; padding: 2px 6px; outline: none; outline-color: none; background-color: transparent; color: #004A7F;
}
@media screen and (max-width: 600px){
	.FaceClone-header{display: block;}
	.user-welcome-block{display: block; width: 100%; margin-bottom: 30px;}
	.top-navigation-items{margin-right: 10% !important;}
	.clone-profile-container{margin: 0 0.5% !important;}
	.clone-profile-picture-container{float: none !important; margin-bottom: 50px;}
	.clone-profile-picture{width: 100% !important;}
	.clone-upload-picture{margin-top: 30px;}
	.clone-about-container{width: 100% !important;}
}
</style>

<div class="container-fluid" style="text-align: center; margin-top: 0%;">
		<h2 class="FaceClone-header" style="float: left; margin-left: 1%;">
			<span>Face</span><span class="bg-primary" style="font-weight: bold; padding: 5px; border-radius: 15%;">Book</span> 
			Clone
		</h2>
		
		<h2 class="top-navigation-items" style="float: right; margin-left: 2%; margin-right: 1%;"><a style="outline: none; outline-color: transparent;" href="{% url 'facebook:logout' %}" title="Logout"><span class="glyphicon glyphicon-off"></span></a></h2>
		<h2 class="top-navigation-items" style="float: right; margin-left: 2%; margin-right: 1%;"><a style="outline: none; outline-color: transparent;" data-toggle="modal" data-target="#mySearch" href="#" title="View other users..."><span class="glyphicon glyphicon-search"></span></a></h2>
		<!-- Pop up -->
				  <!-- Modal -->
				<div class="modal fade" id="mySearch" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header" style="border: none;">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">View other profiles...</h4>
							</div>
							<form action="{% url 'facebook:search_user' %}" method="GET"> 
							<div class="modal-body">	
								<div class="form-group">
									<label for="sel1" style="float: left;">Select user profile to see:</label>
									<select class="form-control" id="sel1" name="profileSelected">
										{% for user in all_users %}
										<option>{{ user.user_name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="modal-footer" style="border: none;">
								<button type="submit" class="btn btn-primary">Search</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
							</form>
						</div>
					</div>
				</div>
				<!-- End Pop up-->
		<!-- Script MsgChecker -->
		<script type="text/javascript">
			function checkMsgRead(){
				var actual_class = document.getElementById("msgEnvContainer").className;
				if (actual_class == "text-danger"){
					document.getElementById("msgEnvContainer").className = "text-primary";
				}
			}
		</script>

		{% if has_unread_messages %}
		<h2 class="top-navigation-items" onclick="checkMsgRead()" style="float: right; margin-left: 2%; margin-right: 1%;"><a id="msgEnvContainer" style="outline: none; outline-color: transparent;" class="text-danger" data-toggle="modal" data-target="#myMsg" href="#" title="Check Messages..."><span class="glyphicon glyphicon-envelope"></span></a></h2>
		{% else %}
		<h2 class="top-navigation-items" style="float: right; margin-left: 2%; margin-right: 1%;"><a id="msgEnvContainer" style="outline: none; outline-color: transparent;" class="text-primary" data-toggle="modal" data-target="#myMsg" href="#" title="Check Messages..."><span class="glyphicon glyphicon-envelope"></span></a></h2>
		{% endif %}
		<!-- Pop up -->
				  <!-- Modal -->
				<div class="modal fade" id="myMsg" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Messages</h4>
							</div>

							<div class="modal-body bg-default" style="overflow-y: auto; height: 500px;">	
								<div style="margin-bottom: 20px;padding: 20px 10px 10px 10px; width: 100%; border-radius:0px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
									<p class="text-primary">• Message Feed •</p>								
								</div>
								<!-- New MSG set -->
								<div id="msg-set-container">
								
								</div>
								<!-- End New MSG set -->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End Pop up-->
		<h2 class="user-welcome-block" style="float: right;">Welcome {{ verified_user.user_name.capitalize }}</h2>
	<br /><br /><br />
</div>

<div class="container-fluid">	
	<div class="panel panel-primary clone-profile-container" style="margin: 0 1%;">
		<div class="panel-heading">
			<h2>Your Profile</h2>
		</div>
		<div class="panel-body" style="text-align: left;">
			<div class="clone-profile-picture-container" style="float: left;">
				<img title="View Profile Picture" data-toggle="modal" data-target="#myImage" class="img-rounded clone-profile-picture" style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width:300px; height:284px;" 
				{% if verified_user.user_photo_set.all %}
				{% for data in verified_user.user_photo_set.all %}
					src="{{ data.profile_picture_link }}"
				{% endfor %}
				{%  else %}
				src="{% static 'facebook/images/avatar.png' %}"
				{% endif %}
				/>
				<!-- Pop up -->
				<!-- Modal -->
				<div class="modal fade" id="myImage" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header" style="border: none;">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title" style="text-align: center;">Profile Picture</h4>
							</div>
							<div class="modal-body">	
								<div class="form-group">
									<img 
									{% if verified_user.user_photo_set.all %}
									{% for data in verified_user.user_photo_set.all %}
									src="{{ data.profile_picture_link }}"
									{% endfor %}
									{%  else %}
									src="{% static 'facebook/images/avatar.png' %}"
									{% endif %} 
									class="img-rounded" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width:100%; height:100%;" >
								</div>
							</div>
							<div class="modal-footer" style="border: none;">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End Pop up-->
				
				<div style="margin:10px 40px;">
					<!-- Pop up -->
					<button type="button" class="btn btn-default text-default clone-upload-picture" data-toggle="modal" data-target="#myUpload">Upload New Profile Picture <span class="glyphicon glyphicon-edit"></span></button>
					<!-- Modal -->
					<div class="modal fade" id="myUpload" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header" style="border: none;">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><span style="vertical-align: middle;" class="glyphicon glyphicon-user text-primary"></span> Edit Your Profile Picture</h4>
								</div>
								<div class="modal-body" style="text-align: center;">			
									<div class="form-group">
										<img 
										{% if verified_user.user_photo_set.all %}
										{% for data in verified_user.user_photo_set.all %}
										src="{{ data.profile_picture_link }}"
										{% endfor %}
										{%  else %}
										src="{% static 'facebook/images/avatar.png' %}"
										{% endif %} 
										class="img-rounded" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width:300px; height:284px;" >
									</div>	
									<div style="margin:10px 40px;">
										<form style="text-align: center;" action="{% url 'facebook:validate_upload' %}" method="post" enctype="multipart/form-data">
											{% csrf_token %}									
											<input class="profile-uploader" style="margin-left: 30%;" type="file" name="myfile" onchange="try_change();">
											<br />
											<button id="picture-uploader" class="btn btn-primary" style="display: none;" type="submit">Upload <span class="glyphicon glyphicon-edit"></span></button>
											<script type="text/javascript">
												function try_change(){
												var upload_value = $('.profile-uploader').val(); 
													if(upload_value==''){ $("#picture-uploader").hide(); } else { $("#picture-uploader").show(); }
												}
											</script> 
										</form>
									</div>
								</div>
								<div class="modal-footer" style="border: none;">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Pop up-->
				</div>
			</div>
			
			<div class="clone-about-container" style="padding: 20px; width: 70%; float: right; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
				<h2>About</h2>
				
				{% if verified_user.user_options_set.all %}
				{% for data in verified_user.user_options_set.all %}
				<p>{{ data.about_bio }}</p>
				{% endfor %}
				{% else %}
				<p>
					Write something about yourself... <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula scelerisque magna in commodo. Aenean in nibh ut mi dapibus suscipit. Donec quis porta eros. Etiam in hendrerit orci. Ut vel odio non nisi tincidunt maximus eu faucibus lorem. Aliquam congue sem est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus consequat ligula eu lorem vulputate ornare. Proin in sem dolor. Mauris aliquet eleifend lacus, convallis sagittis nunc lacinia laoreet. Suspendisse varius efficitur augue. Aliquam mollis arcu at nulla vestibulum imperdiet. Vivamus porttitor purus sed dolor posuere, ac consequat urna mattis. Integer dictum sollicitudin ligula vel egestas. Pellentesque feugiat est velit, vitae fringilla arcu consequat nec. Nulla rhoncus metus vel magna pretium, id pharetra ipsum vehicula.
				</p>
				{% endif %}
				
				{% if verified_user.user_options_set.all %}
				{% for data in verified_user.user_options_set.all %}
				<h3>Location: {{ data.about_location }}</h3>
				{% endfor %}
				{% else %}
				<h3>Location: Cape Town</h3>
				{% endif %}
				
				
				<div style="float: right;">
					<!-- Pop up -->
					<button type="button" class="btn btn-default text-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></button>
					<!-- Modal -->
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header" style="border: none;">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Edit Info</h4>
								</div>
								<form action="{% url 'facebook:edit_info' %}" method="POST"> 
									{% csrf_token %}
								<div class="modal-body">
									<p>-</p>
									<div class="form-group">
										<label for="comment">About You:</label>
										<textarea class="form-control" rows="5" id="comment" name="textAreaAbout" placeholder="Write about yourself"></textarea>
									</div>
									<p>-</p>
									<div class="form-group">
										<label for="usr">Your Location:</label>
										<input type="text" class="form-control" id="usr" name="inputLocation" value="" placeholder="Enter your location">
									</div>
								</div>
								<div class="modal-footer" style="border: none;">
									<button type="submit" class="btn btn-primary">Save</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
								</form>
							</div>
						</div>
					</div>
					<!-- End Pop up-->
				</div>
			</div>
			
			<hr style="clear: both;" />
			
			<div style="text-align:center; clear: both; padding: 30px; width: 100%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
				<p class="text-primary" style="font-weight: bold">News Feed</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula scelerisque magna in commodo. Aenean in nibh ut mi dapibus suscipit. Donec quis porta eros.</p>
				<br />
				<!-- Pop up -->
				<button type="button" class="btn btn-default text-default" data-toggle="modal" data-target="#myPost"><em>Say Something...</em><span class="glyphicon glyphicon-sunglasses"></span></button>
				  <!-- Modal -->
				<div class="modal fade" id="myPost" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header" style="border: none;">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title"><span class="glyphicon glyphicon-grain"></span>Express Yourself<span class="glyphicon glyphicon-grain"></span></h4>
							</div>
							<form action="{% url 'facebook:make_post' %}" method="POST"> 
								{% csrf_token %}
								<div class="modal-body">
									<div class="form-group">
										<label for="comment">Say something:</label>
										<textarea class="form-control" rows="5" id="comment" name="textAreaPost"></textarea>
									</div>
								</div>
								<div class="modal-footer" style="border: none;">
									<button type="submit" class="btn btn-primary">Save</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- End Pop up-->
			</div>
			
			<!-- Posts -->
			{% if verified_user.user_posts_set.all %}
				{% for data in verified_user.user_posts_set.all reversed %}
				<div style="margin-top: 20px; text-align:center; clear: both; padding: 30px; width: 100%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
					<p class="text-primary" style="font-weight: bold; text-align: left;"><em>On {{ data.pub_date }} - {{ verified_user.user_name }} said:</em></p>
					<p>{{ data.post_made }}</p>
					<p style="width: 100%;">
						<form style="float: left; color: brown;" action="{% url 'facebook:like_post' %}" method="POST"> 
							{% csrf_token %}
							<input style="display: none;" type="hidden" name="checkPostID" value="{{ data.id }}" />
							<button type="submit" class="" style="background-color: white; border: none;">Like <i class="glyphicon glyphicon-thumbs-up" style="vertical-align: middle;"></i></button><span style="margin-right: 5px; float: left; color: brown;"> {{ data.likes }}</span>
						</form>

						<form style="float: right; color: brown;" action="{% url 'facebook:delete_post' %}" method="POST"> 
							{% csrf_token %}
							<input style="display: none;" type="hidden" name="checkPostID" value="{{ data.id }}" />
							<button type="submit" class="" style="background-color: white; border: none;"><span style="float: right; color: red;" class="glyphicon glyphicon-remove-circle"></span></button>
						</form>
					</p>
				</div>
				{% endfor %}
			{% else %}
				
			{% endif %}
		</div>
		<div class="panel-footer panel-primary">
			<span class="glyphicon glyphicon-fire text-primary" style=""></span>
		</div>
	</div>

</div>

<!-- Portable Chat -->
<div class="portable-chat-container" id="portable-chat-container" style="position: fixed; right: 10px; bottom: 0; width: 200px;">
	<div data-toggle="collapse" data-target="#portable-chat" onclick="hide_portable_responder()" style="background-color: #004A7F; color: white; padding: 5% 3% 3% 3%; cursor: pointer; width: 100%; text-align: center; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		<p style="font-weight: bold;">Messenger</p>
	</div>
	<div id="portable-chat" class="collapse" style="background-color: #f8f8f8; text-align: center; padding: 3% 0; max-height: 250px; overflow-y: auto;">

	</div>
	<div id="portable-responder" style="display: none; position: fixed; bottom: 0; right: 20px; background-color: rgba(0, 74, 127, .5); width: 185px;">
		<div style="width: 100%;">
			<textarea id="portable-text-area" rows="3" style="width: 100%;" placeholder="Type your response here..."></textarea>
		</div>
		<div style="width: 100%;">
			<button id="portable-send-button" type="button" class="btn btn-danger" style="float: left; margin: 0 1%; outline-color: none; outline: none;">Send</button>
			<button type="button" class="btn btn-default" onclick="hide_portable_responder();" style="float: right; margin: 0 1%; outline-color: none; outline: none;">Cancel</button>
		</div>
	</div>
</div>
<script>
function hide_portable_responder(){
	document.getElementById('portable-responder').style.display = 'none';
	document.getElementById('portable-text-area').value= '';
}
function show_portable_responder(contact_id){
	document.getElementById('portable-text-area').value= '';
	var portable_send_button = document.getElementById('portable-send-button');
	portable_send_button.setAttribute("onclick", "update_messages('response', " + contact_id + ", document.getElementById('portable-text-area').value)");
	document.getElementById('portable-responder').style.display = 'block';
	document.getElementById('portable-text-area').focus();
}
</script>
<!-- End Portable Chat -->

<script>
function update_messages(x, y, z){

	$.ajax({
	url: '/ajax/messages/',
	data: {
		'change_status': x,
		'change_item': y,
		'message_item': z,
	},
	dataType: 'json',
	success: function (data) {
		if (data.is_taken) {
			if(data.marked_read){document.getElementById("contact-thread-" + data.change_item).setAttribute("class", "contact-holder");}
			if(data.new_response){reload_inbox(data.change_item, data.message_item); reload_portable_chat(data.change_item, data.message_item)}
		}
	}
	});
}
</script>

<script>
	function chat_thread(x){$('#'+x).slideToggle();}
	var id_of_unread_contact = "{{unread_contact_id}}";
</script>

<script>
function init_conversation_threads(x_set_container, set_separator){

var div = document.createElement("div");
div.setAttribute("id", set_separator + "msg-set");
document.getElementById(x_set_container).appendChild(div);

{% if verified_user.contact_set.all %}

	var div_inbox_container = document.createElement("div");
	div_inbox_container.setAttribute("id", set_separator + "inbox-container");
	div.appendChild(div_inbox_container);

	{% for contact in verified_user.contact_set.all reversed %}
		{% if contact.conversation_set.all %}
			var div_holding_contact = document.createElement("div");
			div_holding_contact.setAttribute("id", set_separator + "contact-thread-{{contact.id}}");
			if(id_of_unread_contact == "{{contact.id}}"){div_holding_contact.setAttribute("class", "contact-holder-unread");}else{div_holding_contact.setAttribute("class", "contact-holder");}
			div_inbox_container.appendChild(div_holding_contact);
			
			var p_to_hold_contact_name = document.createElement("p");
			p_to_hold_contact_name.innerHTML = 'From ';
			var span_to_bold_contact_name = document.createElement("span");
			span_to_bold_contact_name.setAttribute("class", "bold-contact");
			span_to_bold_contact_name.innerHTML = '{{contact.contact_name}}';
			p_to_hold_contact_name.appendChild(span_to_bold_contact_name);
			div_holding_contact.appendChild(p_to_hold_contact_name);

			var button_to_trigger_read = document.createElement("button");
			button_to_trigger_read.innerHTML = 'Read';
			button_to_trigger_read.setAttribute("type", "button");
			button_to_trigger_read.setAttribute("id", set_separator + "trigger-chat-thread-{{ contact.id }}");
			button_to_trigger_read.setAttribute("class", "btn btn-primary");
			button_to_trigger_read.setAttribute("onclick", "chat_thread('" + set_separator + "chat-thread-{{ contact.id }}'); update_messages('read', '{{contact.id}}', '')");
			div_holding_contact.appendChild(button_to_trigger_read);

			var div_holding_chat_threads = document.createElement("div");
			div_holding_chat_threads.setAttribute("id", set_separator + "chat-thread-{{ contact.id }}");
			div_holding_chat_threads.setAttribute("class", "chat-thread-holder");
			div_inbox_container.appendChild(div_holding_chat_threads);

			{% for data in contact.conversation_set.all reversed %}
				var ul_for_chat = document.createElement("ul");
				div_holding_chat_threads.appendChild(ul_for_chat);
				var li_for_chat = document.createElement("li");
				li_for_chat.setAttribute("class", "chat-thread-li");
				var span_for_li = document.createElement("span");
				span_for_li.innerHTML = '{{ data.msg_content|safe }}';
				li_for_chat.appendChild(span_for_li);
				if(set_separator == 'portable-'){
					/* Portable Quick Response */
					var button_for_quick_response = document.createElement("button");
					button_for_quick_response.setAttribute("class", "btn btn-primary portable-quick-respond");
					button_for_quick_response.setAttribute("title", "Respond to message...");
					button_for_quick_response.setAttribute("onclick", "show_portable_responder('{{ contact.id }}');");
					var i_play_for_quick_response = document.createElement("i");
					i_play_for_quick_response.setAttribute("class", "glyphicon glyphicon-play-circle");
					var i_msg_for_quick_response = document.createElement("i");
					i_msg_for_quick_response.setAttribute("class", "glyphicon glyphicon-envelope");
					button_for_quick_response.appendChild(i_play_for_quick_response);
					button_for_quick_response.appendChild(i_msg_for_quick_response);
					var br_msg_for_quick_response = document.createElement("br");
					var br_2_msg_for_quick_response = document.createElement("br");
					li_for_chat.appendChild(br_msg_for_quick_response);
					li_for_chat.appendChild(br_2_msg_for_quick_response);
					li_for_chat.appendChild(button_for_quick_response);
				}
				ul_for_chat.appendChild(li_for_chat);
			{% endfor %}

			
			if(set_separator == 'portable-'){
				/* Portable Respond */
				var div_holding_chat_response = document.createElement("div");
				div_holding_chat_response.setAttribute("id", set_separator + "chat-thread-response-holder-{{ contact.id }}");
				div_holding_chat_threads.appendChild(div_holding_chat_response);

				var button_trigger_respond = document.createElement("button");
				button_trigger_respond.setAttribute("type", "button");
				button_trigger_respond.innerHTML = 'Respond';
				button_trigger_respond.setAttribute("class", "btn btn-info");
				button_trigger_respond.setAttribute("onclick", "show_portable_responder('{{ contact.id }}');");
				div_holding_chat_response.appendChild(button_trigger_respond);

				var br_chat_thread = document.createElement("br");
				div_holding_chat_response.appendChild(br_chat_thread);
			} else {
				/* Inbox Respond */
				var div_holding_chat_response = document.createElement("div");
				div_holding_chat_response.setAttribute("id", set_separator + "chat-thread-response-holder-{{ contact.id }}");
				div_holding_chat_threads.appendChild(div_holding_chat_response);

				var button_trigger_respond = document.createElement("button");
				button_trigger_respond.setAttribute("type", "button");
				button_trigger_respond.innerHTML = 'Respond';
				button_trigger_respond.setAttribute("class", "btn btn-info");
				button_trigger_respond.setAttribute("data-toggle", "collapse");
				button_trigger_respond.setAttribute("data-target", "#" + set_separator + "chat-thread-respond-{{ contact.id }}");
				div_holding_chat_response.appendChild(button_trigger_respond);

				var br_chat_thread = document.createElement("br");
				div_holding_chat_response.appendChild(br_chat_thread);

				var form_respond = document.createElement("form");
				form_respond.setAttribute("id", set_separator + "chat-thread-respond-{{ contact.id }}");
				form_respond.setAttribute("class", "collapse");
				div_holding_chat_response.appendChild(form_respond);
				
				var div_for_respond = document.createElement("div");
				div_for_respond.setAttribute("class", "respond-holder form-group");
				form_respond.appendChild(div_for_respond);

				var label_for_respond = document.createElement("label");
				label_for_respond.setAttribute("class", "respond-box");
				label_for_respond.setAttribute("for", "Msgcomment");
				label_for_respond.innerHTML = 'Your Message:';
				div_for_respond.appendChild(label_for_respond);

				var area_for_respond = document.createElement("textarea");
				area_for_respond.setAttribute("class", "form-control");
				area_for_respond.setAttribute("rows", "5");
				area_for_respond.setAttribute("id", set_separator + "Msgcomment-{{ contact.id }}");
				area_for_respond.setAttribute("name", "textAreaMsg");
				area_for_respond.setAttribute("required", "required");
				div_for_respond.appendChild(area_for_respond);

				var br_for_respond = document.createElement("br");
				div_for_respond.appendChild(br_for_respond);

				var button_send_for_respond = document.createElement("button");
				button_send_for_respond.setAttribute("type", "button");
				button_send_for_respond.setAttribute("class", "btn btn-danger respond-buttons");
				button_send_for_respond.setAttribute("onclick", "update_messages('response', '{{ contact.id }}', document.getElementById('" + set_separator + "Msgcomment-{{ contact.id }}').value)");
				button_send_for_respond.innerHTML = 'Send';
				div_for_respond.appendChild(button_send_for_respond);

				var button_cancel_for_respond = document.createElement("button");
				button_cancel_for_respond.setAttribute("type", "button");
				button_cancel_for_respond.setAttribute("class", "btn btn-default respond-buttons");
				button_cancel_for_respond.setAttribute("data-toggle", "collapse");
				button_cancel_for_respond.setAttribute("data-target", "#" + set_separator + "chat-thread-respond-{{ contact.id }}");
				button_cancel_for_respond.innerHTML = 'Cancel';
				div_for_respond.appendChild(button_cancel_for_respond);

			}

		{% endif %}
	{% endfor %}
{% else %}
	var div_for_no_new_msg = document.createElement("div");
	div_for_no_new_msg.setAttribute("class", "no-new-msg");
	div.appendChild(div_for_no_new_msg);
	var p_for_no_new_msg = document.createElement("p");
	p_for_no_new_msg.innerHTML = 'No New Messages';
	div_for_no_new_msg.appendChild(p_for_no_new_msg);
{% endif %}
}
init_conversation_threads('msg-set-container', '');
init_conversation_threads('portable-chat', 'portable-');
</script>

<script>
function add_new_msg_to_thread(contact_id, message_item, set_separator){
	/**/
	var div_holding_chat_threads = document.getElementById(set_separator + "chat-thread-" + contact_id);
	var ul_for_chat = document.createElement("ul");
	div_holding_chat_threads.appendChild(ul_for_chat);
	var li_for_chat = document.createElement("li");
	li_for_chat.setAttribute("class", "chat-thread-li");
	li_for_chat.innerHTML = message_item;
	ul_for_chat.appendChild(li_for_chat);
}
</script>

<script>
function reload_inbox(x, y){
	$('#msg-set-container').empty(); 
	init_conversation_threads('msg-set-container', ''); 
	$('#chat-thread-response-holder-' + x).empty(); 
	add_new_msg_to_thread(x, y, '');
}
function reload_portable_chat(x,y){
	$('#portable-chat').empty(); 
	init_conversation_threads('portable-chat', 'portable-'); 
	$('#portable-chat-thread-response-holder-' + x).empty(); 
	add_new_msg_to_thread(x, y, 'portable-');
	hide_portable_responder();
}
</script>

</body>

</html>