{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Registration | Facebook Clone</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'facebook/images/favicon.png' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container-fluid" style="text-align: center; margin-top: 2%;">
		<h2>
			<span>Face</span><span class="bg-primary" style="font-weight: bold; padding: 5px; border-radius: 15%;">Book</span> 
			Clone
		</h2>
		<br />
		<h3>Congratulations - Account Successfully Created</h3>
		<br />
	</div>

	<div class="container-fluid">
		<div class="panel panel-primary" style="margin: auto; max-width: 500px;">
			<div class="panel-heading" style="text-align: center; background-color: rgba(0, 0, 255, .9);">
				<h2>Details of <strong>{{ new_user.user_name.capitalize }}</strong></h2>
			</div>
			<div class="panel-body" style="text-align: center;">
				<p>Name: <strong>{{ new_user.user_name.capitalize }}</strong></p>
				<p>Email: <strong>{{ new_user.user_email }}</strong></p>
				<p>Password: <strong>{{ new_user.user_password }}</strong></p>
			</div>
			<div class="panel-footer panel-danger">
				<span class="glyphicon glyphicon-fire" style="color:rgba(0, 0, 255, .6);"></span>
			</div>
		</div>

		<div style="width: 100%; text-align: center;">
			<form action="{% url 'facebook:profile' %}" method="POST"> 
				{% csrf_token %}
				<input style="display: none;" type="hidden" name="checkUserEmail" value="{{ new_user.user_email }}" /><br />
				<input style="display: none;" type="hidden" name="checkUserPassword" value="{{ new_user.user_password }}" /><br /><br />
				<button class="btn btn-primary" type="submit">Continue to Profile</button>
			</form>
		</div>
	</div>
</body>

</html>